@charset 'utf-8';
/* ---------ANIMATION-------- */
	@include keyframes(showContent){
		0%{
			opacity: 0;
			@include transform(scale(.95, .95));
		}
		100%{
			opacity: 1;
			@include transform(scale(1, 1));
		}
	}
	@include keyframes(fadeIn){
		0%{
			opacity: 0;
		}
		100%{
			opacity: 1;
		}
	}
	@include keyframes(fadeOut){
		0%{
			opacity: 1;
		}
		100%{
			opacity: 0;
		}
	}
	@include keyframes(fadeInUp){
		0%{
			opacity: 0;
			@include transform(translate(0, 30px));
		}
		100%{
			opacity: 1;
			@include transform(translate(0, 0));
		}
	}
	@include keyframes(fadeInDown){
		0%{
			opacity: 0;
			@include transform(translate(0, -30px));
		}
		100%{
			opacity: 1;
			@include transform(translate(0, 0));
		}
	}