@charset 'utf-8';
.bg-main{background-color: $bg-main;}
.bg-light{background-color: $bg-light;}
.bg-dark{background-color: $bg-dark;}
.bg-deco-light{background-color: $bg-deco-light;}
.bg-deco-dark{background-color: $bg-deco-dark;}