@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;600&display=swap');
/* ---------TEXT------------- */
	html{font-size: 16px;}
	body{
		position: relative;
		font-weight: 300;
		font-family: $font-content;
		color:$color-text;
	}
	option{
		font-family: $font-content;
	}
	h1,h2,h3,h4,h5,h6,
	a,p,b,small{
		font:inherit;
		color:inherit;
		letter-spacing: 0.018em;
	}
	h1{
		font-size: 1.5em;
		font-weight: 400;
		letter-spacing: 0.08em;
		line-height: 1.5;
	}
	h2{
		font-size: 1em;
		font-weight: 400;
		letter-spacing: 0.08em;
		line-height: 1.25;
	}
	h3{
		font-size: 2em;
		font-weight: 300;
		letter-spacing: 0.08em;
		line-height: 1.25;
		font-style: normal;
	}
	h4{
		font-size: 1.5em;
		font-weight: 400;
		line-height: 1.25;
	}
	h5{
		font-size: 1.25em;
	}
	h6{
		font-size: 1.125em;
	}
	a{
		text-decoration: none;
		line-height: inherit;
		letter-spacing: inherit;
	}
	p{
		font-family: $font-content;
		font-size: 1em;
		font-weight: 300;
		line-height: 1.75;
	}
	b,
	strong{
		font-weight: 400;
		letter-spacing: inherit;
	}
  h3, h4, h5{
    b,
    strong{font-weight: 500; }
  }
	small{
		font-size: .875em;
		letter-spacing: inherit;
		line-height: inherit;
	}
	code{font-family: "Consolas", monospace; }

	.color-white{color:white; }
	.color-grey{color:$color-grey; }
	.color-primary{color:$color-primary; }
	.color-primary-light{color:$color-primary-light; }

	.align-left{text-align: left; }
	.align-right{text-align: right; }
	.align-center{text-align: center; }
/* -------------RWD----------- */
	@media screen and (max-width: 1440px){
	}
	@media screen and (max-width: 1280px){
	}
	@media screen and (max-width: 768px){
	}
	@media screen and (max-width: 480px){
		html{font-size: 12px;}
	}