@charset 'utf-8';
#ez-toc-container{
  border:none;
  background: #f8f8f8;
  padding: 20px;
  ul{
    > li{
      padding-left: 1em;
      position: relative;
      &:before{
        content:'';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 4px;
        background:$color-title;
        position: absolute;
        top: .65em;
        left: 0;
      }
    }
  }
  .ez-toc-btn-default{background:white; }
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
}
@media only screen and (max-width: 480px){
  #ez-toc-container{padding: 10px; }
}