@charset 'utf-8';
.jeg_heroblock.jeg_heroblock_5{
	.jeg_heroblock_wrapper{
		height: 0;
		padding-bottom: 35%;
	}
	.jeg_thumb{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;left: 0;
		@include translate(0,0);
	}
	.thumbnail-container{
		@include transition(transform .8s ease);
	}
	.jeg_thumb > a:hover{
		.thumbnail-container{
			@include scale(1.05,1.05);
		}
	}
	.jeg_hero_item_1{
		width: 50%;
		.jeg_postblock_content{
			.jeg_post_title{
				font-size: 30px;
			}
		}
	}
	.jeg_hero_item_2,
	.jeg_hero_item_3{
		width: 50%;
		left: 50%;
		.jeg_block_container{
			position: absolute;
			top: 0;left: 0;
			width: 100%;
		}
		.jeg_thumb{
			width: 50%;
			margin-left: 1em;
      a>div:before{display: none;}
		}
		.jeg_postblock_content{
			padding-bottom: 0;
			left: calc(50% + .5em);
			.jeg_post_title{
				font-size: 20px;
				a{
					color: $color-black;
					text-shadow:none;
          &:hover{color: $color-primary;}
				}
			}
			.jeg_meta_author{
				a{
					color: $color-grey !important;
					text-shadow:none;
				}
			}
			.jeg_meta_date{
				a{text-shadow:none; }
			}
		}
	}
	.jeg_hero_item_2{
		.jeg_thumb{margin-bottom: 1em; }
	}
	.jeg_hero_item_3{
		.jeg_thumb{margin-top: 1em; }
	}
	.jeg_meta_date{
		a{color: $color-grey !important;}
	}
}
.custom-index-category{
	.jeg_thumb{
		width: 300px;
		margin-right: 20px;
	}
}
.widget_tag_cloud,
.jeg_block_loadmore{
	a{
		&:hover{color: white !important;}
	}
}
@media (max-width:1024px){
	.jeg_heroblock.jeg_heroblock_5{
		.jeg_post_meta{
			line-height: 1.5;
		}
		.jeg_hero_item_2,
		.jeg_hero_item_3{
		 	.jeg_thumb{margin-left: .5em;}
		 	.jeg_postblock_content{
				left: 50%;
				padding: 0 1em;
		 		.jeg_post_title{font-size: 18px;}
		 	}
		}
		.jeg_hero_item_2{
			.jeg_thumb{margin-bottom: .5em; }
		}
		.jeg_hero_item_3{
			.jeg_thumb{margin-top: .5em; }
		}
	}
	.custom-index-category{
		.jeg_thumb{width: 250px; }
	}
}
@media (max-width:768px){
	.custom-index-category{
		.jeg_thumb{
			width: 200px;
			margin-right: 1em;
		}
	}
}
@media (max-width:767px){
	.custom-index-category{
		.jeg_thumb{width: 40%; }
	}
}
@media only screen and (max-width: 667px){
	.jeg_heroblock.jeg_heroblock_5:not(.tiny-slider){
		.jeg_heroblock_wrapper{
			height: auto;
			padding-bottom: 0;
			.jeg_post{
				height: auto;
			}
		}
		.jeg_block_container{
			width: 100%;
			height: 100%;
			position: absolute !important;
		}
		.jeg_hero_item_1{
			width: 100%;
			height: 0;
			padding-bottom: 66.6666% !important;
			.jeg_postblock_content{
				.jeg_post_title{font-size: 18px; }
			}
		}
		.jeg_hero_item_2,
		.jeg_hero_item_3{
			height: 0;
			padding-bottom: 33.3333% !important;
			position: relative;
			left: 0;top: 0;
			.jeg_thumb{
				width: 100%;
				margin:0;
				margin-top: .5em;
        a>div:before{display: block;}
			}
			.jeg_postblock_content{
				left: 0;
				padding-bottom: 1em;
				.jeg_post_title{
					font-size: 16px;
					a{color: white;}
				}
			}
		}
		.jeg_hero_item_2{
			.jeg_thumb{margin-right: .5em;}
		}
		.jeg_hero_item_3{
			.jeg_thumb{margin-left: .5em;}
		}
	}
}
@media (max-width:480px){
	.jeg_heroblock:not(.owl-carousel).jeg_heroblock_5 .jeg_heroblock_scroller{
		height: auto;
		.jeg_hero_item_2,
		.jeg_hero_item_3{
			width: 80% !important;
			padding-bottom: 53.3333% !important;
			.jeg_thumb{margin: .5em; }
		}
		.jeg_hero_item_2{
			.jeg_thumb{margin-left: 0;}
		}
	}

}